<div class="background">
  <div class="banner">
    <h1 class="welcome"><%= @cocktail.name %></h1>
  </div>

<div class="cocktail-card">
  <% @cocktail.doses.each do |dose| %>
  <div class="cocktail-mini-card">
    <%= dose.description %>
    <%= link_to "Delete dose", delete_path(dose), method: :delete %>
    <i class="far fa-trash-alt"></i>
  </div>
  <% end %>
</div>


<div class="cocktail-card">
   <button type="button" class="btn btn-primary">
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
    </button>
</div>
<div class="cocktail-card">
  <p>
    <h5><%= link_to "Home", cocktails_path %></h5>
   </p>
</div>

</div>
